<mat-toolbar color="primary">theme me up scotty</mat-toolbar>
<div class="main">
  <div>
    <button mat-raised-button color="primary">primary</button>
  </div>
  <div>
    <button mat-raised-button color="accent">accent</button>
  </div>
  <div>
    <button mat-raised-button color="warn">warn</button>
  </div>
  <mat-checkbox (change)="themeChoice($event)">
    Dark theme
  </mat-checkbox>
  <div>
    <button mat-raised-button [matMenuTriggerFor]="menu">show menu</button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>Item 1</button>
      <button mat-menu-item>Item 2</button>
    </mat-menu>
  </div>
  <mat-card>
    <mat-card-title>Progress bar in footer demo</mat-card-title>
    <mat-card-subtitle>I am a subtitle</mat-card-subtitle>
    <mat-card-content>A in quasi dolorem numquam fuga dolorum vitae amet. Soluta eum sit sed vero consequatur consectetur iste ex.</mat-card-content>
    <mat-card-actions>
      <button mat-raised-button>no action</button>
      <button mat-raised-button>no action</button>
    </mat-card-actions>
    <mat-card-footer>
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </mat-card-footer>
  </mat-card>
</div>
